<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Booking Register"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingRegister">

        <activity
            android:name="com.example.bookingregister.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.bookingregister.ui.login.SignUpActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bookingregister.ui.booking.BookingChartActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bookingregister.ui.reporting.RevenueReportActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bookingregister.ui.payments.PaymentsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bookingregister.ui.food.FoodBillingActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bookingregister.ui.service.ServiceBillingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingregister.ui.booking.BookingRecordsActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>

